.card {
  margin: 0rem 0 1rem 0;
  padding: 1rem;
  width: 99%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-1 {
  min-width: 100px;
}
.col-2 {
  min-width: 100px;
}
.col-3 {
  min-width: 100px;
}
.col-4 {
  min-width: 100px;
}
.col-5 {
  min-width: 100px;
}
.col-6 {
  min-width: 100px;
}

tr:nth-child(even) {
  background: #eee;
}
tr:nth-child(odd) {
  background: #fff;
}
