.container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  width: 100%;
  background-color: #e6e7e8;
}

/* Mobile devices */
@media screen and (max-width: 480px) {
  .main-content {
    width: 100vw;
  }
}
