.card {
  margin: 0rem 0 1rem 0;
  padding: 1rem;
  max-width: 54rem;
  min-width: 90%;
}

.list-item {
  display: flex !important;
  flex-direction: column !important;
}

.link {
  color: #3d62b4;
}

.link-view-plan {
  color: #3d62b4;
  align-self: flex-end !important;
}

.plan-summary {
  font-style: italic;
}

.button {
  background-color: #3d62b4 !important;
  border: none !important;
  padding: 0.2rem 0.6rem !important;
  display: inline !important;
}
